body { background-color: #f1f0e2; font-family: 'Lato';}


.navbar {position: fixed; width: 100%; background-color: #555 !important; z-index: 10;}
.navbar-nav {margin-left: auto; margin-right: 0 !important;}
.navbar-brand {color: #f1f0e2 !important; font-family: 'Limelight'; font-size: 1.6em;}
.navbar-brand img {padding-right: 15px;}
.navbar a {color: #f1f0e2 !important;}
.dropdown-menu {background: #555 !important; color: #f1f0e2;}
.nav-item {margin: 0px 15px;}
.shop {margin-left: 2rem; border-left: 1px solid #f1f0e2;padding-left: 1rem;}


.carousel {height: 25rem;background-color: aqua;}


footer {width: 100%; margin: 0 auto; height: 48px; padding: 10px; display: inline-flex; 
    background-color: #555; color: #f1f0e2; align-content: center; justify-content: center;}
footer li {color: #f1f0e2; display: inline;padding-right: .75rem;}
footer img {height: 28px;}