body {background-color: #f1f0e2; font-family: 'Lato';}
h1 {font-size: 2rem; font-weight: 500; text-align: center;}
.btn-primary {background-color: #14356d !important;}
.btn-primary:hover {background-color: #f78137 !important; border: 0px;}

/*Navbar styling*/
.navbar {position: fixed; width: 100%; background-color: #222 !important; z-index: 10;}
.navbar-nav {margin-left: auto; margin-right: 0 !important;}
.navbar-brand {color: #f1f0e2 !important; font-family: 'Limelight'; font-size: 1.6em;}
.navbar-brand img {padding-right: 15px;}
.navbar a {color: #f1f0e2 !important;}
.dropdown-menu {background: #555 !important; color: #f1f0e2;}
.nav-item {margin: 0px 15px;}
.nav-link:hover {color: #23a753 !important;}
.dropdown-item:hover {background-color: #23a753;}
.shop {margin-left: 2rem; border-left: 1px solid #f1f0e2;padding-left: 1rem;}

/*Homepage*/
#intro {padding-top: 5.375rem; margin-bottom: 3rem;}
#intro .jumbotron {background-image: url("../images/coins.jpeg"); background-size: cover; height: 25rem; color: #f1f0e2; display: flex; align-items: center; justify-content: center; margin-bottom: 3rem;}
#intro .container {text-align: center;}
.display-4 {font-family: 'Limelight';}
/*Card section*/
#cards {padding: 2rem 3rem;display: flex; align-items: center; justify-content: center;}
#cards {margin: 0 auto;}
#cards .row {margin-bottom: 2rem;}
.gold {background-color: #d4af37 !important;}
.silver {background-color: silver !important;}
.copper {background-color: #B87333 !important;}

/*Inventory*/
.wrapper {padding-top: 5.375rem;}
.sidebar { background-color: #5a3939; padding-right: 0;} 
#accordion .card {background-color: #5a3939 !important; color: #f1f0e2;}
#accordion .btn {text-decoration: none; color: #f1f0e2;}
#accordion .btn:hover {color: #f78137}
#slides {margin-bottom: 3rem;}
.carousel {height: 30rem; background-color:#333;}
.carousel-item {height: 30rem;}
.col-10 {padding-left: 0%;}
.col-10 h1 {text-align: center;}
.coins {padding: 2rem 3rem;}
.coins .row {margin-bottom: 2rem; text-align: center;}
.coins .card-img-top {padding: .5rem;}

/*Coin Show*/
.col-10 .jumbotron {width: 100%;  background-image: url("../images/coinShow.jpeg"); background-size: cover; height: 25rem; color: #f1f0e2; display: flex;}
#jumbo {margin-bottom: 3rem;}
#shows {padding: 2rem 3rem;}
#shows .row {margin-bottom: 2rem;}
small {padding-left: 1rem;}

/*Footer*/
footer {width: 100%; margin: 0 auto; height: 48px; padding: 10px; display: inline-flex; 
    background-color: #222; color: #f1f0e2; align-content: center; justify-content: center;}
footer li {color: #f1f0e2; display: inline;padding-right: .75rem;}
footer img {height: 28px;}